# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import numpy as np

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("./Resources/applicants_data.csv")

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
#categorical_variables1 = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
#display(categorical_variables1)
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]],
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns="IS_SUCCESSFUL")

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [106]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [107]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [108]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  58

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [109]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  29

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [110]:
# Create the Sequential model instance
nn = Sequential()

In [111]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [112]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [113]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [114]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_37 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_38 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_39 (Dense)             (None, 1)                 30
=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [115]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizers="adam", metrics=["accuracy"])

In [116]:
# Converting all Data into a numpy array to prevent future errors I experienced
#X_train = np.array(X_train)
#X_test = np.array(X_test)
#y_train = np.array(y_train)
#y_test = np.array(y_test)
#X_test_scaled = np.array(X_test_scaled)
#X_train_scaled = np.array(X_train_scaled)

In [119]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train.to_numpy(), epochs=10, verbose=15)

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [120]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test.to_numpy(), verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5216 - accuracy: 0.7327
Loss: 0.5514535288769025, Accuracy: 0.7327113747596741

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [123]:
# Set the model's file path
file_path = Path("./Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [70]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [71]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [72]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 58

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 29

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer3_A1 = 15

# Review the number of hidden nodes in the first layer
print(hidden_nodes_layer1_A1)
print(hidden_nodes_layer2_A1)
print(hidden_nodes_layer3_A1)

58
29
15

In [73]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [74]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# Third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, activation="relu"))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_23 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_24 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_25 (Dense)             (None, 15)                450
_________________________________________________________________
dense_26 (Dense)             (None, 1)                 16
=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [75]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizers="adam", metrics=["accuracy"])

In [122]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train.to_numpy(), epochs=100, verbose=0)

#### Alternative Model 2

In [89]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [90]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [91]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 80

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 40

# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = 20

# Define the number of hidden nodes for the fourth hidden layer
hidden_nodes_layer4_A2 = 10

# Review the number of hidden nodes in the first layer
print(hidden_nodes_layer1_A2)
print(hidden_nodes_layer2_A2)
print(hidden_nodes_layer3_A2)
print(hidden_nodes_layer4_A2)

80
40
20
10

In [92]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [93]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

# Fourth hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer4_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_32 (Dense)             (None, 80)                9360
_________________________________________________________________
dense_33 (Dense)             (None, 40)                3240
_________________________________________________________________
dense_34 (Dense)             (None, 20)                820
_________________________________________________________________
dense_35 (Dense)             (None, 10)                210
_________________________________________________________________
dense_36 (Dense)             (None, 1)                 11
=================================================================
Total params: 13,641
Trainable params: 13,641
Non-trainable params: 0
_________________________________________________________________

In [94]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizers="adam", metrics=["accuracy"])

In [95]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train.to_numpy(), epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 4s 151us/sample - loss: 0.5733 - accuracy: 0.7202
Epoch 2/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5553 - accuracy: 0.7294
Epoch 3/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5519 - accuracy: 0.7319
Epoch 4/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5504 - accuracy: 0.7328
Epoch 5/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5498 - accuracy: 0.7335
Epoch 6/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5486 - accuracy: 0.7332
Epoch 7/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5484 - accuracy: 0.7334
Epoch 8/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5475 - accuracy: 0.7350
Epoch 9/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5475 - accuracy: 0.7358
Epoch 10/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5464 - accuracy: 0.7353
Epoch 11/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5474 - accuracy: 0.7363
Epoch 12/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5465 - accuracy: 0.7351
Epoch 13/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5460 - accuracy: 0.7358
Epoch 14/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5464 - accuracy: 0.7362
Epoch 15/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5468 - accuracy: 0.7352
Epoch 16/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5464 - accuracy: 0.7357
Epoch 17/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5463 - accuracy: 0.7361
Epoch 18/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5455 - accuracy: 0.7363
Epoch 19/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5462 - accuracy: 0.7364
Epoch 20/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5451 - accuracy: 0.7368
Epoch 21/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5461 - accuracy: 0.7361
Epoch 22/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5460 - accuracy: 0.7358
Epoch 23/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5467 - accuracy: 0.7374
Epoch 24/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5472 - accuracy: 0.7361
Epoch 25/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5472 - accuracy: 0.7372
Epoch 26/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5466 - accuracy: 0.7362
Epoch 27/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5473 - accuracy: 0.7361
Epoch 28/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5489 - accuracy: 0.7369
Epoch 29/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5474 - accuracy: 0.7371
Epoch 30/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5468 - accuracy: 0.7356
Epoch 31/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5486 - accuracy: 0.7366
Epoch 32/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5486 - accuracy: 0.7368
Epoch 33/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5486 - accuracy: 0.7358
Epoch 34/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5476 - accuracy: 0.7363
Epoch 35/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5483 - accuracy: 0.7359
Epoch 36/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5480 - accuracy: 0.7368
Epoch 37/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5498 - accuracy: 0.7365
Epoch 38/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5485 - accuracy: 0.7363
Epoch 39/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5479 - accuracy: 0.7369
Epoch 40/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5485 - accuracy: 0.7364
Epoch 41/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5476 - accuracy: 0.7382
Epoch 42/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5501 - accuracy: 0.7370
Epoch 43/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5493 - accuracy: 0.7369
Epoch 44/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5496 - accuracy: 0.7372
Epoch 45/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5486 - accuracy: 0.7371
Epoch 46/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5490 - accuracy: 0.7368
Epoch 47/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5495 - accuracy: 0.7371
Epoch 48/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5489 - accuracy: 0.7371
Epoch 49/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5483 - accuracy: 0.7371
Epoch 50/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5496 - accuracy: 0.7371
Epoch 51/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5497 - accuracy: 0.7372
Epoch 52/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5488 - accuracy: 0.7367
Epoch 53/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5481 - accuracy: 0.7373
Epoch 54/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.5488 - accuracy: 0.7375
Epoch 55/100
25724/25724 [==============================] - 4s 171us/sample - loss: 0.5479 - accuracy: 0.7370 - l
Epoch 56/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5482 - accuracy: 0.7365
Epoch 57/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5502 - accuracy: 0.7369
Epoch 58/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.5485 - accuracy: 0.7369
Epoch 59/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5508 - accuracy: 0.7383 - loss: 0.5502 - accuracy
Epoch 60/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5491 - accuracy: 0.7379
Epoch 61/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5509 - accuracy: 0.7366
Epoch 62/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5518 - accuracy: 0.7383
Epoch 63/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5513 - accuracy: 0.7374
Epoch 64/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5524 - accuracy: 0.7366
Epoch 65/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5510 - accuracy: 0.7371
Epoch 66/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5523 - accuracy: 0.7364
Epoch 67/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5494 - accuracy: 0.7363 - loss: 0.5479 - ac
Epoch 68/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5512 - accuracy: 0.7363
Epoch 69/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5496 - accuracy: 0.7366
Epoch 70/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5505 - accuracy: 0.7367
Epoch 71/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5521 - accuracy: 0.7365
Epoch 72/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5533 - accuracy: 0.7360
Epoch 73/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5514 - accuracy: 0.7367
Epoch 74/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5527 - accuracy: 0.7357
Epoch 75/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5523 - accuracy: 0.7362
Epoch 76/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5514 - accuracy: 0.7355
Epoch 77/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5509 - accuracy: 0.7366
Epoch 78/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5541 - accuracy: 0.7374
Epoch 79/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5539 - accuracy: 0.7364
Epoch 80/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5531 - accuracy: 0.7362
Epoch 81/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5557 - accuracy: 0.7359
Epoch 82/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5564 - accuracy: 0.7364
Epoch 83/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5562 - accuracy: 0.7367
Epoch 84/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5536 - accuracy: 0.7355
Epoch 85/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5532 - accuracy: 0.7351
Epoch 86/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5606 - accuracy: 0.7360
Epoch 87/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5542 - accuracy: 0.7355
Epoch 88/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5550 - accuracy: 0.7348
Epoch 89/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5562 - accuracy: 0.7353
Epoch 90/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5574 - accuracy: 0.7354
Epoch 91/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5573 - accuracy: 0.7361
Epoch 92/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5582 - accuracy: 0.7359
Epoch 93/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5548 - accuracy: 0.7355
Epoch 94/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5596 - accuracy: 0.7347
Epoch 95/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5625 - accuracy: 0.7365
Epoch 96/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5595 - accuracy: 0.7361
Epoch 97/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5573 - accuracy: 0.7346
Epoch 98/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5613 - accuracy: 0.7357
Epoch 99/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5565 - accuracy: 0.7346
Epoch 100/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5547 - accuracy: 0.7352

## Alternative Model 3

In [142]:
# Create a new Dataframe with less features to create a new Model.
applicant_data_df_2 = applicant_data_df.drop(columns = ["SPECIAL_CONSIDERATIONS", "USE_CASE"])

# Display the new Dataframe
applicant_data_df_2.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,Association,1,0,5000,1
1,T3,Independent,C2000,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Trust,1,100000-499999,142590,1

In [143]:
# Create a list of categorical variables 
categorical_variables_2 = list(applicant_data_df_2.dtypes[applicant_data_df_2.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables_2

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'ORGANIZATION',
 'INCOME_AMT']

In [144]:
# Create a OneHotEncoder instance
enc2 = OneHotEncoder(sparse=False)

In [146]:
# Encode the categorcal variables using OneHotEncoder
encoded_data_2 = enc2.fit_transform(applicant_data_df_2[categorical_variables_2])

In [148]:
# Create a DataFrame with the encoded variables
encoded_df_2 = pd.DataFrame(
    encoded_data_2,
    columns = enc2.get_feature_names(categorical_variables_2)
)

# Review the DataFrame
encoded_df_2.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [149]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df_2 = pd.concat(
    [
        applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]],
        encoded_df_2
    ],
    axis=1
)

# Review the Dataframe
encoded_df_2

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [150]:
# Define the target set y using the IS_SUCCESSFUL column
y2 = encoded_df_2["IS_SUCCESSFUL"]

# Display a sample of y
y2[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [151]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X2 = encoded_df_2.drop(columns="IS_SUCCESSFUL")

# Review the features DataFrame
X2

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [152]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, random_state=1)

In [153]:
# Create a StandardScaler instance
scaler2 = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler2 = scaler2.fit(X_train2)

# Fit the scaler to the features training dataset
X_train_scaled2 = X_scaler2.transform(X_train2)
X_test_scaled2 = X_scaler2.transform(X_test2)

In [154]:
# Define the the number of inputs (features) to the 4th model
number_input_features_3 = len(X_train2.iloc[0])

# Review the number of features
number_input_features_3

109

In [155]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

In [156]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 = 54

# Review the number of hidden nodes in the first layer
print(hidden_nodes_layer1_A3)

54

In [157]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [158]:
# First hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer1_A3, activation="relu", input_dim=number_input_features_3))

# Output layer
nn_A3.add(Dense(units=number_output_neurons_A3, activation="sigmoid"))

# Check the structure of the model
nn_A3.summary()

Model: "sequential_14"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_44 (Dense)             (None, 54)                5940
_________________________________________________________________
dense_45 (Dense)             (None, 1)                 55
=================================================================
Total params: 5,995
Trainable params: 5,995
Non-trainable params: 0
_________________________________________________________________

In [159]:
# Compile the model
nn_A3.compile(loss="binary_crossentropy", optimizers="adam", metrics=["accuracy"])

In [161]:
# Fit the model
fit_model_A3 = nn_A3.fit(X_train_scaled2, y_train2.to_numpy(), epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.5945 - accuracy: 0.7138
Epoch 2/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5700 - accuracy: 0.7276
Epoch 3/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5670 - accuracy: 0.7283
Epoch 4/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5637 - accuracy: 0.7299
Epoch 5/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5618 - accuracy: 0.7291
Epoch 6/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5605 - accuracy: 0.7301
Epoch 7/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5596 - accuracy: 0.7292
Epoch 8/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5587 - accuracy: 0.7297
Epoch 9/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5587 - accuracy: 0.7300
Epoch 10/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5575 - accuracy: 0.7300
Epoch 11/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5574 - accuracy: 0.7297
Epoch 12/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5574 - accuracy: 0.7293
Epoch 13/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5581 - accuracy: 0.7304
Epoch 14/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5577 - accuracy: 0.7298
Epoch 15/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5571 - accuracy: 0.7297
Epoch 16/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5580 - accuracy: 0.7299
Epoch 17/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5583 - accuracy: 0.7300
Epoch 18/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5580 - accuracy: 0.7301
Epoch 19/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5583 - accuracy: 0.7297
Epoch 20/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5581 - accuracy: 0.7291
Epoch 21/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5584 - accuracy: 0.7305
Epoch 22/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5582 - accuracy: 0.7308
Epoch 23/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5588 - accuracy: 0.7297
Epoch 24/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5577 - accuracy: 0.7306
Epoch 25/100
25724/25724 [==============================] - 2s 74us/sample - loss: 0.5595 - accuracy: 0.7301
Epoch 26/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5591 - accuracy: 0.7300
Epoch 27/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5595 - accuracy: 0.7297
Epoch 28/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5597 - accuracy: 0.7303
Epoch 29/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5593 - accuracy: 0.7292
Epoch 30/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5606 - accuracy: 0.7293
Epoch 31/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5604 - accuracy: 0.7297
Epoch 32/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5608 - accuracy: 0.7309
Epoch 33/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5609 - accuracy: 0.7302
Epoch 34/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5617 - accuracy: 0.7303
Epoch 35/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5618 - accuracy: 0.7290
Epoch 36/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5627 - accuracy: 0.7299
Epoch 37/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5617 - accuracy: 0.7291
Epoch 38/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5625 - accuracy: 0.7295
Epoch 39/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5637 - accuracy: 0.7290
Epoch 40/100
25724/25724 [==============================] - 2s 74us/sample - loss: 0.5639 - accuracy: 0.7295
Epoch 41/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5629 - accuracy: 0.7300
Epoch 42/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5609 - accuracy: 0.7291
Epoch 43/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5614 - accuracy: 0.7297
Epoch 44/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5633 - accuracy: 0.7296
Epoch 45/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5632 - accuracy: 0.7296
Epoch 46/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5637 - accuracy: 0.7299
Epoch 47/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5648 - accuracy: 0.7293
Epoch 48/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5628 - accuracy: 0.7294
Epoch 49/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5631 - accuracy: 0.7290
Epoch 50/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5639 - accuracy: 0.7292
Epoch 51/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5641 - accuracy: 0.7295
Epoch 52/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5642 - accuracy: 0.7296
Epoch 53/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5646 - accuracy: 0.7295
Epoch 54/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5634 - accuracy: 0.7310
Epoch 55/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5657 - accuracy: 0.7295s - loss: 0.5647 - accuracy:
Epoch 56/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5648 - accuracy: 0.7306
Epoch 57/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5652 - accuracy: 0.7297
Epoch 58/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5662 - accuracy: 0.7308
Epoch 59/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5655 - accuracy: 0.7285
Epoch 60/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5647 - accuracy: 0.7302
Epoch 61/100
25724/25724 [==============================] - 2s 75us/sample - loss: 0.5656 - accuracy: 0.7294s
Epoch 62/100
25724/25724 [==============================] - 2s 74us/sample - loss: 0.5674 - accuracy: 0.7291
Epoch 63/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5671 - accuracy: 0.7289
Epoch 64/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5650 - accuracy: 0.7306
Epoch 65/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5652 - accuracy: 0.7290
Epoch 66/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5682 - accuracy: 0.7305
Epoch 67/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5672 - accuracy: 0.7301
Epoch 68/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5693 - accuracy: 0.7299
Epoch 69/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5698 - accuracy: 0.7294
Epoch 70/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5674 - accuracy: 0.7304
Epoch 71/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5669 - accuracy: 0.7296
Epoch 72/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5723 - accuracy: 0.7301
Epoch 73/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5685 - accuracy: 0.7302
Epoch 74/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5688 - accuracy: 0.7298
Epoch 75/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5733 - accuracy: 0.7303
Epoch 76/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5694 - accuracy: 0.7298
Epoch 77/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5715 - accuracy: 0.7293
Epoch 78/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5690 - accuracy: 0.7295
Epoch 79/100
25724/25724 [==============================] - 2s 76us/sample - loss: 0.5742 - accuracy: 0.7293
Epoch 80/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5748 - accuracy: 0.7296
Epoch 81/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5757 - accuracy: 0.7294s - los
Epoch 82/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5730 - accuracy: 0.7300
Epoch 83/100
25724/25724 [==============================] - 2s 74us/sample - loss: 0.5741 - accuracy: 0.7289
Epoch 84/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5708 - accuracy: 0.7294
Epoch 85/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5736 - accuracy: 0.7290
Epoch 86/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5728 - accuracy: 0.7295
Epoch 87/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5734 - accuracy: 0.7300
Epoch 88/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5740 - accuracy: 0.7304
Epoch 89/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5744 - accuracy: 0.7303
Epoch 90/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5768 - accuracy: 0.7303
Epoch 91/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5756 - accuracy: 0.7301
Epoch 92/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5732 - accuracy: 0.7291
Epoch 93/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5722 - accuracy: 0.7293
Epoch 94/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5741 - accuracy: 0.7290
Epoch 95/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5734 - accuracy: 0.7292
Epoch 96/100
25724/25724 [==============================] - 2s 74us/sample - loss: 0.5784 - accuracy: 0.7286
Epoch 97/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5826 - accuracy: 0.7299
Epoch 98/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5773 - accuracy: 0.7298s - loss: 0.5
Epoch 99/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5794 - accuracy: 0.7285
Epoch 100/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5810 - accuracy: 0.7306s - loss: 0.5791 - accuracy: 0.

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [162]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test.to_numpy(), verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
8575/1 - 0s - loss: 0.5216 - accuracy: 0.7327
Loss: 0.5514535288769025, Accuracy: 0.7327113747596741

In [163]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test.to_numpy(), verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
8575/1 - 0s - loss: 0.5443 - accuracy: 0.7284
Loss: 0.5841933447070442, Accuracy: 0.728396475315094

In [164]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test.to_numpy(), verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
8575/1 - 0s - loss: 0.5340 - accuracy: 0.7277
Loss: 0.5579830080705204, Accuracy: 0.7276967763900757

In [166]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled2, y_test2.to_numpy(), verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
8575/1 - 0s - loss: 0.5413 - accuracy: 0.7310
Loss: 0.562171787305059, Accuracy: 0.7309620976448059

### Step 3: Save each of your alternative models as an HDF5 file.

In [104]:
# Set the file path for the first alternative model
file_path = Path("./Resources/AlphabetSoup1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [105]:
# Set the file path for the second alternative model
file_path = Path("./Resources/AlphabetSoup2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)

In [167]:
# Set the file path for the second alternative model
file_path = Path("./Resources/AlphabetSoup3.h5")

# Export your model to a HDF5 file
nn_A3.save(file_path)